@import "tailwindcss";
@import "./ui/theme.css";

html {
  font-family: Inter;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: hidden;
}

#root {
  flex-grow: 1;
}

/* Hide scrollbar but keep functionality */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
